Q.1

In [7]:
nt(input("Please enter your percentage marks:"))
if Marks>90:
    print("Your grade is A")
elif Marks>80 and Marks<=90:
    print("Your grade is B")
elif Marks>60 and Marks<=80:
    print("Your grade is C")
else:
    print("Your grade is D")

Please enter your percentage marks: 75

Your grade is C

Q.2

In [10]:
Cost=int(input("Please enter the cost price of your bikes (in Rs.):"))
if Cost>100000:
    print("You have to pay road tax @ 15%")
elif Cost>50000 and Cost<=100000:
    print("You have to pay road tax @ 10%")
elif Cost<=50000:
    print("You have to pay road tax @ 5%")

Please enter the cost price of your bikes (in Rs.): 55000

You have to pay road tax @ 10%

Q.3

In [14]:
City=input("Please enter the name of the city:")
if City=="Delhi":
    print("Monument of the city is: Red Fort")
elif City=="Agra":
    print("Monument of the city is: Taj Mahal")
elif City=="Jaipur":
    print("Monument of the city is: Jal Mahal")

Please enter the name of the city: Agra

Monument of the city is: Taj Mahal

Q.4

In [22]:
count=0
num=int(input("Enter the number:"))
while True:
    num=num/3
    count=count+1 
    if num<=10:
        break
print(count)

Enter the number: 330

4

Q.5)

In [27]:
#A While loop in Python allows a part of the code to be executed repeatedly as long as a given condition is true. The While loop in Python is also called a pre-tested loop. It is typically used when the number of iterations is not known

i=1
while i<5:
    print(i, end=" ")
    i += 1
    
#In Python, the test condition/expression will be checked first. If the condition holds True, the body of the loop will be entered.
# After one iteration, it will check the condition again.
# The process will continue until the condition becomes False.
# The expression should be any valid Python expression that results in True or False. False is 0 while True is any non-zero value.
# The while loop body begins with an indentation while the first un-indented line represents the end of the while loop.

1 2 3 4

Q.6 Nested while loop to show 3 different patterns

In [1]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*", end="") # the print() function in each iteration of nested for loop to display the symbol or number of a pattern (like a star (asterisk *) or number).
        j += 1
    print()  # To Add a new line using the print() function after each iteration of the outer loop so that the pattern display appropriately
    i += 1

*
**
***
****
*****

In [31]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(i, end="")
        j += 1
    print()
    i += 1

1
22
333
4444
55555

In [1]:
size = 5
row = 0
while row < size:
    col = size
    while col > row:
        print('*', end='')
        col -= 1
    print()
    row += 1

*****
****
***
**
*

In [3]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  5

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15

Q.7 & 8) Reverse a while loop to display numbers from 10 to 1

In [2]:
num=10
while num>=1:
    print(num)
    num=num-1

10
9
8
7
6
5
4
3
2
1